<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Colour Palette | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="colour-palette">Colour Palette</h1>
              <h3 class="subheader">Colour palette is what you need for zanui colours.</h3>

<hr>
<h2 id="basic">Basic</h2>
<p>You can change background by adding css class like this.</p>
<div class="row colour-row">
  <div class="large-12 columns">
    <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-blue&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-light-grey&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-green&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-yellow&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-light-blue&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-red&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

  </div>
  <div class="large-12 columns">
    <h4>Rendered</h4>
<div class="row">
    <div class="small-12 columns">
        <div class="colour-box bg-blue">
            <p class="colour-hex">#385673</p>
            <p class="colour-name">blue</p>
        </div>
        <div class="colour-box bg-light-grey">
            <p class="colour-hex">#E7E7E7</p>
            <p class="colour-name">light grey</p>
        </div>
        <div class="colour-box bg-green">
            <p class="colour-hex">#4E9458</p>
            <p class="colour-name">green</p>
        </div>
        <div class="colour-box bg-yellow">
            <p class="colour-hex">#FDBC51</p>
            <p class="colour-name">yellow</p>
        </div>
        <div class="colour-box bg-light-blue">
            <p class="colour-hex">#4D8FA9</p>
            <p class="colour-name">light blue</p>
        </div>
        <div class="colour-box bg-red">
            <p class="colour-hex">#E9413E</p>
            <p class="colour-name">red</p>
        </div>
    </div>
</div>
<span></span>

  </div>
</div>

<hr>
<h2 id="typography">Typography</h2>
<p>You can change background by adding css class like this.</p>
<div class="row colour-row">
    <div class="large-12 columns">
        <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-blue-smoke&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-slate&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

    </div>
    <div class="large-12 columns">
        <h4>Palette</h4>
<div class="row">
    <div class="small-12 columns">
        <div class="colour-box bg-blue-smoke">
            <p class="colour-hex">#7993A3</p>
            <p class="colour-name">blue-smoke</p>
        </div>
        <div class="colour-box bg-slate">
            <p class="colour-hex">#667079</p>
            <p class="colour-name">slate</p>
        </div>
    </div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2 id="fancy">Fancy</h2>
<p>You can change background by adding css class like this.</p>
<div class="row colour-row">
    <div class="large-12 columns">
        <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-forest&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-salmon&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-teal&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-tangerine&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-persimmon&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-seafoam&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-thistle&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;bg-pink&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

    </div>
    <div class="large-12 columns">
        <h4>Palette</h4>
<div class="row">
    <div class="small-12 columns">
        <div class="colour-box bg-forest">
            <p class="colour-hex">#5A9463</p>
            <p class="colour-name">forest</p>
        </div>
        <div class="colour-box bg-salmon">
            <p class="colour-hex">#D45257</p>
            <p class="colour-name">salmon</p>
        </div>
        <div class="colour-box bg-teal">
            <p class="colour-hex">#5AA6A2</p>
            <p class="colour-name">teal</p>
        </div>
        <div class="colour-box bg-tangerine">
            <p class="colour-hex">#FD9251</p>
            <p class="colour-name">tangerine</p>
        </div>
        <div class="colour-box bg-persimmon">
            <p class="colour-hex">#E95D3E</p>
            <p class="colour-name">persimmon</p>
        </div>
        <div class="colour-box bg-seafoam">
            <p class="colour-hex">#D3EEE2</p>
            <p class="colour-name">seafoam</p>
        </div>
        <div class="colour-box bg-thistle">
            <p class="colour-hex">#8C84B0</p>
            <p class="colour-name">thistle</p>
        </div>
        <div class="colour-box bg-pink">
            <p class="colour-hex">#E593B8</p>
            <p class="colour-name">pink</p>
        </div>
    </div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2 id="scss">SCSS</h2>
<p>You can refer colour value by using variables.</p>
<pre><code class="language-scss"><div class="code-container"><span class="comment">// Black and White</span>
$<span class="attribute">color</span>-black<span class="value">: <span class="hexcolor">#000000</span>;</span>
$<span class="attribute">color</span>-white<span class="value">: <span class="hexcolor">#FFFFFF</span>;</span>

<span class="comment">// Basic</span>
$<span class="attribute">color</span>-blue<span class="value">: <span class="hexcolor">#385673</span>;</span>
$<span class="attribute">color</span>-light-grey<span class="value">: <span class="hexcolor">#E7E7E7</span>;</span>
$<span class="attribute">color</span>-green<span class="value">: <span class="hexcolor">#4E9458</span>;</span>
$<span class="attribute">color</span>-yellow<span class="value">: <span class="hexcolor">#FDBC51</span>;</span>
$<span class="attribute">color</span>-light-blue<span class="value">: <span class="hexcolor">#4D8FA9</span>;</span>
$<span class="attribute">color</span>-red<span class="value">: <span class="hexcolor">#E9413E</span>;</span>

<span class="comment">// Typography</span>
$<span class="attribute">color</span>-blue-smoke<span class="value">: <span class="hexcolor">#7993A3</span>;</span>
$<span class="attribute">color</span>-slate<span class="value">: <span class="hexcolor">#667079</span>;</span>

<span class="comment">// Fancy</span>
$<span class="attribute">color</span>-forest<span class="value">: <span class="hexcolor">#5A9463</span>;</span>
$<span class="attribute">color</span>-salmon<span class="value">: <span class="hexcolor">#D45257</span>;</span>
$<span class="attribute">color</span>-teal<span class="value">: <span class="hexcolor">#5AA6A2</span>;</span>
$<span class="attribute">color</span>-tangerine<span class="value">: <span class="hexcolor">#FD9251</span>;</span>
$<span class="attribute">color</span>-persimmon<span class="value">: <span class="hexcolor">#E95D3E</span>;</span>
$<span class="attribute">color</span>-seafoam<span class="value">: <span class="hexcolor">#D3EEE2</span>;</span>
$<span class="attribute">color</span>-thistle<span class="value">: <span class="hexcolor">#8C84B0</span>;</span>
$<span class="attribute">color</span>-pink<span class="value">: <span class="hexcolor">#E593B8</span>;</span></div></code></pre>





            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
