<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Icon Bar | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="icon-bar">Icon Bar</h1>
              <h3 class="subheader">An Icon Bar provides a menu to quickly navigate an app. Use the Icon Bar horizontally or vertically, with the labels below the icons or to the right. Have it your way.</h3>

<hr>
<div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>

<hr>
<h3>Basic</h3>

<p>You can create an Icon Bar using minimal markup. Specifying the number of items <code>one-up</code> through <code>six-up</code> will ensure the items are evenly spaced.</p>
<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;icon-bar five-up&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-home.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Home<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-bookmark.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Bookmark<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-info.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Info<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-mail.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Mail<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-like.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Like<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

  </div>
  <div class="large-6 columns">
    <h4>Rendered HTML</h4>
    <div class="icon-bar five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>
  </div>
</div>

<hr>
<h3>Vertical Icon Bar</h3>

<p>It&#39;s easy. Just add a class of <code>.vertical</code> to make the Icon Bar stack up.</p>
<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;icon-bar vertical five-up&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-home.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Home<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-bookmark.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Bookmark<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-info.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Info<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-mail.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Mail<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">&quot;../assets/img/images/fi-like.svg&quot;</span> &gt;</span>
    <span class="tag">&lt;<span class="title">label</span>&gt;</span>Like<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

  </div>
  <div class="large-6 columns">
    <h4>Rendered HTML</h4>
    <div class="icon-bar vertical five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>
  </div>
</div>

<hr>
<h3>Advanced</h3>

<p>Instead of images you can use Icon Fonts. This will help you change the colors and size faster instead of having to upload new images each time. <a href="zurb.com/playground/foundation-icon-fonts-3">Check out our badass Icon Fonts here.</a></p>
<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;icon-bar five-up&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">&quot;fi-home&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">&quot;fi-bookmark&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">&quot;fi-info&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">&quot;fi-mail&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;item&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">i</span> <span class="attribute">class</span>=<span class="value">&quot;fi-like&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">i</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


  </div>
  <div class="large-6 columns">
    <h4>Rendered HTML</h4>
    <div class="icon-bar five-up">
  <a class="item">
    <i class="fi-home"></i>
  </a>
  <a class="item">
    <i class="fi-bookmark"></i>
  </a>
  <a class="item">
    <i class="fi-info"></i>
  </a>
  <a class="item">
    <i class="fi-mail"></i>
  </a>
  <a class="item">
    <i class="fi-like"></i>
  </a>
</div>
  </div>
</div>


<h3 id="other-options">Other Options</h3>
<p>The default orientation for the labels are on the bottom. By adding a class of <code>.label-right</code> you can have the label on the right and icon on the left.</p>
<hr>
<h2 id="customize-with-sass">Customize with Sass</h2>
<p>Icon Bar can be easily customized using our provided Sass variables.</p>
<div class="row">
  <div class="large-12 columns">
    <h4>SCSS</h4>
<pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-<span class="attribute">icon</span>-bar-classes<span class="value">: $include-html-classes

// We use these to style the icon-bar and items
$icon-bar-bg: <span class="hexcolor">#333</span> 
$icon-bar-font-color: <span class="hexcolor">#fff</span> 
$icon-bar-font-size: <span class="number">1</span>rem 
$icon-bar-hover-color: $primary-color 
$icon-bar-icon-color: <span class="hexcolor">#fff</span> 
$icon-bar-icon-size: <span class="number">1.875</span>rem 
$icon-bar-image-width: <span class="number">1.875</span>rem 
$icon-bar-image-height: <span class="number">1.875</span>rem 
$icon-bar-active-color: $primary-color 
$icon-bar-item-padding: <span class="number">1.25</span>rem</div></code></pre>

  </div>
</div>

<hr>
<h2 id="semantic-markup-with-sass">Semantic Markup with Sass</h2>
<h3 id="basic">Basic</h3>
<p>You can use the <code>icon-bar()</code> mixin to create your own icon-bar, like so:</p>
<pre><code class="language-scss"><div class="code-container"><span class="class">.my-custom-class</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> icon-bar</span>();</span>
}</div></code></pre>


<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"my-custom-class"</span>&gt;</span> <span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


<h3 id="advanced">Advanced</h3>
<p>You can further customize your icon bar using the provided options in the <code>icon bar</code> mixin:</p>
<h4 id="scss">SCSS</h4>
<pre><code class="language-scss"><div class="code-container"><span class="class">.my-custom-class</span> {
<span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> icon-bar</span>(

  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> background</span><span class="preprocessor"> color</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-bg.
  $bar-bg: $icon-bar-bg,
  // <span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> font</span><span class="preprocessor"> color</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-font-color.
  $bar-font-color: $icon-bar-font-color,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> hover</span><span class="preprocessor"> background</span><span class="preprocessor"> color</span><span class="preprocessor"> for</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-hover-color.
  $bar-hover-color,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> color</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> icons</span><span class="preprocessor"> for</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-icon-color
  $bar-icon-color: $icon-bar-icon-color,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> background</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> color</span><span class="preprocessor"> when</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar</span><span class="preprocessor"> is</span><span class="preprocessor"> clicked</span><span class="preprocessor"> or</span><span class="preprocessor"> tapped</span><span class="preprocessor"> on</span> (or<span class="preprocessor"> items</span><span class="preprocessor"> within</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar</span>).<span class="preprocessor"> Default</span>: $icon-bar-active-color.
  $bar-active-color,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> padding</span><span class="preprocessor"> for</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-item-padding.
  $padding,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> font-size</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-font-size.
  $font-size,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> size</span><span class="preprocessor"> of</span><span class="preprocessor"> the</span><span class="preprocessor"> icons</span><span class="preprocessor"> within</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-icon-size.
  $icon-size,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> width</span><span class="preprocessor"> of</span><span class="preprocessor"> images</span><span class="preprocessor"> within</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-image-width
  $image-width,
  //<span class="preprocessor"> Set</span><span class="preprocessor"> the</span><span class="preprocessor"> height</span><span class="preprocessor"> of</span><span class="preprocessor"> images</span><span class="preprocessor"> within</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar.</span><span class="preprocessor"> Default</span>: $icon-bar-image-height
  $image-height,
  //<span class="preprocessor"> Assign</span><span class="preprocessor"> whether</span><span class="preprocessor"> or</span><span class="preprocessor"> not</span><span class="preprocessor"> base</span><span class="preprocessor"> styles</span><span class="preprocessor"> usually</span><span class="preprocessor"> associated</span><span class="preprocessor"> with</span><span class="preprocessor"> the</span><span class="preprocessor"> icon</span><span class="preprocessor"> bar</span><span class="preprocessor"> to</span><span class="preprocessor"> appear</span><span class="preprocessor"> the</span><span class="preprocessor"> way</span><span class="preprocessor"> it</span><span class="preprocessor"> usually</span><span class="preprocessor"> does</span><span class="preprocessor"> should</span><span class="preprocessor"> be</span><span class="preprocessor"> included.</span><span class="preprocessor"> Default</span>:<span class="preprocessor"> true.</span>
  $base-style:<span class="preprocessor"> true</span>
  );</span>
}</div></code></pre>


<h4 id="html">HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"my-custom-class five-up"</span>&gt;</span>Items for the Icon Bar goes here.<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>
<h5 id="sass-errors-">Sass Errors?</h5>
<p>If the default &quot;foundation&quot; import was commented out, then make sure you import this file:</p>
<h4>SCSS</h4>

<pre><code class="language-scss"><div class="code-container"><span class="at_rule">@<span class="keyword">import</span> <span class="string">"foundation/components/icon-bar"</span>;</span></div></code></pre>

            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
