<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Interchange | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="interchange">Interchange</h1>
              <h3 class="subheader">Interchange uses media queries to dynamically load responsive content that is appropriate for different users&#39; browsers.</h3>

<hr>
<p><img data-interchange="[../assets/img/examples/space-small.jpg, (small)], [../assets/img/examples/space-medium.jpg, (medium)], [../assets/img/examples/space-large.jpg, (large)]"></p>
<noscript><img src="../assets/img/examples/space-default.jpg"></noscript>

<hr>
<h3 id="using-interchange-with-html-content">Using Interchange With HTML Content</h3>
<p>Interchange can now pull in HTML partials so you can load different sections of your page for particular media queries. This is great for loading up a mobile-friendly component on small devices, and a more robust or heavier load component on desktops.</p>
<p>We use the data-interchange attribute on a markup container (probably a div) to do this. Here&#39;s an example which loads up a small, static map on mobile, a larger static map for medium-sized devices, and a full interactive Google map on large display devices.</p>
<div id="interchangeMarkup" data-interchange="[interchange-default.html, (default)], [interchange-medium.html, (medium)], [interchange-large.html, (large)]">
  <p><img src="../assets/img/examples/map-small.png" /></p>
</div>
<div><br></div>

<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">data-interchange</span>=<span class="value">"[../examples/interchange/default.html, (small)], [../examples/interchange/medium.html, (medium)], [../examples/interchange/large.html, (large)]"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">data-alert</span> <span class="attribute">class</span>=<span class="value">"alert-box secondary radius"</span>&gt;</span>
    This is the default content.
    <span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">class</span>=<span class="value">"close"</span>&gt;</span>&amp;times;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


<p>Each rule passed to <code>data-interchange</code> is comma delimited and encapsulated in square brackets, and each argument within a rule is also comma delimited. The first parameter is the path to your image, and the second parameter is your media query, surrounded by parenthesis.</p>
<p>The last rule that evaluates to true will be the image that gets loaded. Excluding the <code>src</code> attribute keeps the browser from making two requests for images.</p>
<hr>
<h3 id="using-interchange-with-images">Using Interchange With Images</h3>
<p>Using Interchange with images alone is the same process as arbitrary HTML content, and a common use case for Interchange. This way you&#39;ll only load larger resources for devices that can handle it.</p>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">img</span> <span class="attribute">data-interchange</span>=<span class="value">"[/path/to/default.jpg, (default)], [/path/to/bigger-image.jpg, (large)]"</span>&gt;</span>
<span class="comment">&lt;!-- or your own queries --&gt;</span>
<span class="tag">&lt;<span class="title">img</span> <span class="attribute">data-interchange</span>=<span class="value">"[/path/to/default.jpg, (only screen and (min-width: 1px))], [/path/to/bigger-image.jpg, (only screen and (min-width: 1280px))]"</span>&gt;</span></div></code></pre>


<pre><code class="language-html"><div class="code-container">data-interchange="[image_path, (media query)], [image_path, (media query)]"</div></code></pre>


<p>If you want to support browsers with JavaScript disabled, we recommend setting your default image in a <code>&lt;noscript&gt;</code> tag so that these browsers will have a fallback:</p>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">img</span> <span class="attribute">data-interchange</span>=<span class="value">"[/path/to/default.jpg, (default)], [/path/to/bigger-image.jpg, (large)]"</span>&gt;</span>
<span class="tag">&lt;<span class="title">noscript</span>&gt;</span><span class="tag">&lt;<span class="title">img</span> <span class="attribute">src</span>=<span class="value">"/path/to/default.jpg"</span>&gt;</span><span class="tag">&lt;/<span class="title">noscript</span>&gt;</span></div></code></pre>
<p>You should always specify a <code>default</code> directive for Interchange.</p>
<hr>
<h3 id="using-interchange-with-background-images">Using Interchange with background-images</h3>
<p>When you add a data-interchange attribute containing image paths (.jpg, .jpeg, .png, .gif, .bmp, .tiff), instead of replacing the element content it will set a background-image css property with the corresponding path. </p>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">data-interchange</span>=<span class="value">"[/path/to/default.jpg, (default)], [/path/to/bigger-image.jpg, (large)]"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


<p>This solution does not support browsers with JavaScript disabled. To add a fallback you can add a default background-image in your css but this can result in loading more than one image on some device.  This method is only switching the background-image on the element. You will need to set the others background properties in your css (background-repeat, background-position, background-size...). </p>
<hr>
<h3 id="using-retina-images">Using Retina Images</h3>
<p>You can easily include retina images by using a pixel-density media query for that image. You can even combine multiple parameters in the media query if need be. The retina media query would look something like this, but you can also use dpi or other pixel densities as well:</p>
<pre><code class="language-html"><div class="code-container">data-interchange="[image/path/to/retina.jpg, (retina)]"</div></code></pre>


<hr>
<h3 id="named-queries">Named Queries</h3>
<p>Interchange has a few built-in shortcuts that correlate with our visibility classes.</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Media Query</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>default</td>
      <td><code>only screen and (min-width: 1px)</code></td>
    </tr>
    <tr>
      <td>small</td>
      <td><code>only screen and (min-width: 1px)</code></td>
    </tr>
    <tr>
      <td>medium</td>
      <td><code>only screen and (min-width: 641px)</code></td>
    </tr>
    <tr>
      <td>large</td>
      <td><code>only screen and (min-width: 1024px)</code></td>
    </tr>
    <tr>
      <td>landscape</td>
      <td><code>only screen and (orientation: landscape)</code></td>
    </tr>
    <tr>
      <td>portrait</td>
      <td><code>only screen and (orientation: portrait)</code></td>
    </tr>
    <tr>
      <td>retina <small>(4.2.1)</small></td>
      <td><code>only screen and (-webkit-min-device-pixel-ratio: 2),<br>
        only screen and (min--moz-device-pixel-ratio: 2),<br>
        only screen and (-o-min-device-pixel-ratio: 2/1),<br>
        only screen and (min-device-pixel-ratio: 2),<br>
        only screen and (min-resolution: 192dpi),<br>
        only screen and (min-resolution: 2dppx)</code>
      </td>
    </tr>
  </tbody>
</table>

<p>To use the named queries, just pass the name in where you would normally specify your query.</p>
<pre><code class="language-html"><div class="code-container">data-interchange="[image_path, (default)], [image_path, (landscape)]"</div></code></pre>


<hr>
<h3 id="custom-named-queries">Custom Named Queries</h3>
<p>Custom queries can be defined during initialization and are an easy way to make your queries more readable. You can also override the default queries in this way:</p>
<pre><code class="language-javascript"><div class="code-container">$(document).foundation(<span class="string">'interchange'</span>, {
  named_queries : {
    my_custom_query : <span class="string">'only screen and (max-width: 200px)'</span>
  }
});</div></code></pre>


<hr>
<h3 id="events">Events</h3>
<p>Interchange triggers a <code>replace</code> event when a rule evaluates to true and the content has been replaced. This can be useful when you want to change some styles on your page based on which content is loaded.</p>
<pre><code class="language-javascript"><div class="code-container">$(document).on(<span class="string">'replace'</span>, <span class="string">'img'</span>, <span class="function"><span class="keyword">function</span> <span class="params">(e, new_path, original_path)</span> {</span>
  console.log(e.currentTarget, new_path, original_path);
});</div></code></pre>


<hr>
<h3 id="adding-new-interchange-content-after-page-load">Adding New Interchange Content After Page Load</h3>
<p>If you add new content after the page has been loaded, you will need to reinitialize the Foundation JavaScript by running the following:</p>
<pre><code class="language-javascript"><div class="code-container">$(document).foundation();</div></code></pre>


<hr>
<h3 id="using-the-javascript">Using the JavaScript</h3>
<p>Before you can use Interchange you&#39;ll want to verify that jQuery and <code>foundation.js</code> are available on your page. You can refer to the <a href="../javascript.html">JavaScript documentation</a> on setting that up.</p>
<p>Just add <code>foundation.interchange.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">body</span>&gt;</span>

  ...

  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/vendor/jquery.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/foundation/foundation.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/foundation/foundation.interchange.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="comment">&lt;!-- Other JS plugins can be included here --&gt;</span>

  <span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
    $(document).foundation();
  </span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>

<span class="tag">&lt;/<span class="title">body</span>&gt;</span></div></code></pre>


<p>Required Foundation Library: <code>foundation.interchange.js</code></p>
<hr>

            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
