<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Reveal Modal | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="reveal-modal">Reveal Modal</h1>
              <h3 class="subheader">Modal dialogs, or pop-up windows, are handy for prototyping and production. Foundation includes Reveal our jQuery modal plugin, to make this easy for you.</h3>

<hr>
<h2>Basic</h2>

<p>You can create a reveal modal using minimal markup. The anchor tag with the reveal-modal-id is what triggers the Reveal.</p>
<div class="row">
  <div class="large-8 columns">
    <h4>HTML</h4>
    <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">&quot;#&quot;</span> <span class="attribute">data-reveal-id</span>=<span class="value">&quot;myModal&quot;</span>&gt;</span>Click Me For A Modal<span class="tag">&lt;/<span class="title">a</span>&gt;</span>

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">&quot;myModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;reveal-modal&quot;</span> <span class="attribute">data-reveal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">h2</span>&gt;</span>Awesome. I have it.<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span> <span class="attribute">class</span>=<span class="value">&quot;lead&quot;</span>&gt;</span>Your couch.  It is mine.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>I&#39;m a cool paragraph that lives inside of an even cooler modal. Wins!<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;close-reveal-modal&quot;</span>&gt;</span>&amp;#215;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>





  </div>
  <div class="large-4 columns">
    <h4>Rendered HTML</h4>
    <a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Awesome. I have it.</h2>
  <p class="lead">Your couch.  It is mine.</p>
  <p>I&#39;m a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
  </div>
</div>

<hr>
<h2>Intermediate</h2>

<p>You can create a reveal modal with another inside it. You can even put a video into a reveal.</p>
<div class="row">
  <div class="large-8 columns">
    <h4>HTML</h4>
    <pre><code class="language-html"><div class="code-container"><span class="comment">&lt;!-- Triggers the modals --&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">&quot;#&quot;</span> <span class="attribute">data-reveal-id</span>=<span class="value">&quot;firstModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;radius button&quot;</span>&gt;</span>Modal in a modal&amp;hellip;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">&quot;#&quot;</span> <span class="attribute">data-reveal-id</span>=<span class="value">&quot;videoModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;radius button&quot;</span>&gt;</span>Example Modal w/Video&amp;hellip;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>

<span class="comment">&lt;!-- Reveal Modals begin --&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">&quot;firstModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;reveal-modal&quot;</span> <span class="attribute">data-reveal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">h2</span>&gt;</span>This is a modal.<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <span class="tag">&lt;<span class="title">code</span>&gt;</span>close-reveal-modal<span class="tag">&lt;/<span class="title">code</span>&gt;</span>. Clicking anywhere outside the modal will also dismiss it.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">&quot;#&quot;</span> <span class="attribute">data-reveal-id</span>=<span class="value">&quot;secondModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;secondary button&quot;</span>&gt;</span>Second Modal...<span class="tag">&lt;/<span class="title">a</span>&gt;</span><span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;close-reveal-modal&quot;</span>&gt;</span>&amp;#215;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">&quot;secondModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;reveal-modal&quot;</span> <span class="attribute">data-reveal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">h2</span>&gt;</span>This is a second modal.<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;<span class="title">p</span>&gt;</span>See? It just slides into place after the other first modal. Very handy when you need subsequent dialogs, or when a modal option impacts or requires another decision.<span class="tag">&lt;/<span class="title">p</span>&gt;</span>
  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;close-reveal-modal&quot;</span>&gt;</span>&amp;#215;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">id</span>=<span class="value">&quot;videoModal&quot;</span> <span class="attribute">class</span>=<span class="value">&quot;reveal-modal large&quot;</span> <span class="attribute">data-reveal</span>&gt;</span>
  <span class="tag">&lt;<span class="title">h2</span>&gt;</span>This modal has video<span class="tag">&lt;/<span class="title">h2</span>&gt;</span>
  <span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;flex-video&quot;</span>&gt;</span>
    <span class="tag">&lt;<span class="title">iframe</span> <span class="attribute">width</span>=<span class="value">&quot;420&quot;</span> <span class="attribute">height</span>=<span class="value">&quot;315&quot;</span> <span class="attribute">src</span>=<span class="value">&quot;//www.youtube.com/embed/aiBt44rrslw&quot;</span> <span class="attribute">frameborder</span>=<span class="value">&quot;0&quot;</span> <span class="attribute">allowfullscreen</span>&gt;</span><span class="tag">&lt;/<span class="title">iframe</span>&gt;</span>
  <span class="tag">&lt;/<span class="title">div</span>&gt;</span>

  <span class="tag">&lt;<span class="title">a</span> <span class="attribute">class</span>=<span class="value">&quot;close-reveal-modal&quot;</span>&gt;</span>&amp;#215;<span class="tag">&lt;/<span class="title">a</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span>
<span class="comment">&lt;!-- Reveal Modals end --&gt;</span></div></code></pre>


  </div>
  <div class="large-4 columns">
    <h4>Rendered HTML</h4>
    <a href="#" data-reveal-id="firstModal" class="radius button">Modal in a modal&hellip;</a>
<a href="#" data-reveal-id="videoModal" class="radius button">Example Modal with Video&hellip;</a>

<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal" data-reveal>
  <h2>This is a modal.</h2>
  <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
  <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p>
  <p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="secondModal" class="reveal-modal" data-reveal>
  <h2>This is a second modal.</h2>
  <p>See? It just slides into place after the other first modal. Very handy when you need subsequent dialogs, or when a modal option impacts or requires another decision.</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="videoModal" class="reveal-modal large" data-reveal>
  <h2>This modal has video</h2>
  <div class="flex-video">
    <iframe width="420" height="315" src="//www.youtube.com/embed/aiBt44rrslw" frameborder="0" allowfullscreen></iframe>
  </div>

<p>  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals end -->
  </div>
</div></p>
<hr>
<h2>Advanced</h2>

<p>Additional classes can be added to your reveal modal to change its appearance.</p>
<p>The class options:</p>
<ul>
<li><code>tiny</code>: Set the width to 30%.</li>
<li><code>small</code>: Set the width to 40%.</li>
<li><code>medium</code>: Set the width to 60%.</li>
<li><code>large</code>: Set the width to 70%.</li>
<li><code>xlarge</code>: Set the width to 95%.</li>
<li><code>full</code>: Set the width to 100%.</li>
</ul>
<p>Note: Default on small is 100% (full) width.</p>
<h5 id="removing-the-background">Removing the Background</h5>
<h4>HTML</h4>

<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"reveal-modal-bg"</span> <span class="attribute">style</span>=<span class="value">"display: none"</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


<h5>Firing a Reveal Modal</h5>

<p>To launch a modal, just add a <code>data-reveal-id</code> to the object which you want to fire the modal when clicked. The <code>data-reveal-id</code> needs to match the <code>id</code> of your reveal.</p>

<h4>HTML</h4>

<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"#"</span> <span class="attribute">data-reveal-id</span>=<span class="value">"myModal"</span>&gt;</span>Click Me For A Modal<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>



<p>You can also open and close Reveal via Javascript:</p>
<pre><code class="language-javascript"><div class="code-container"><span class="comment">// trigger by event</span>
$(<span class="string">'a.reveal-link'</span>).trigger(<span class="string">'click'</span>);
$(<span class="string">'a.close-reveal-modal'</span>).trigger(<span class="string">'click'</span>);

<span class="comment">// or directly on the modal</span>
$(<span class="string">'#myModal'</span>).foundation(<span class="string">'reveal'</span>, <span class="string">'open'</span>);
$(<span class="string">'#myModal'</span>).foundation(<span class="string">'reveal'</span>, <span class="string">'close'</span>);</div></code></pre>


<h5>Firing a Reveal Modal with Ajax Content</h5>

<p>To launch a modal with content from another page, just add a <code>data-reveal-ajax</code> attribute pointing to the url of that page. When clicked, the Reveal modal will be opened with a content from that page. Beware: content of the object from <code>data-reveal-id</code> attribute will be overwritten as a result.</p>
<p>To use an url from <code>href</code> attribute just add <code>data-reveal-ajax=&quot;true&quot;</code> instead.</p>
<h4>JS</h4>

<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">button</span> <span class="attribute">data-reveal-id</span>=<span class="value">"myModal"</span> <span class="attribute">data-reveal-ajax</span>=<span class="value">"http://some-url"</span>&gt;</span>
    Click Me For A Modal
<span class="tag">&lt;/<span class="title">button</span>&gt;</span>

<span class="tag">&lt;<span class="title">a</span> <span class="attribute">href</span>=<span class="value">"http://some-url"</span> <span class="attribute">data-reveal-id</span>=<span class="value">"myModal"</span> <span class="attribute">data-reveal-ajax</span>=<span class="value">"true"</span>&gt;</span>
    Click Me For A Modal
<span class="tag">&lt;/<span class="title">a</span>&gt;</span></div></code></pre>


<p>Ajax-based Reveal modals can also be opened via Javascript:</p>
<h4>JS</h4>

<pre><code class="language-javascript"><div class="code-container"><span class="comment">// just an url</span>
$(<span class="string">'#myModal'</span>).foundation(<span class="string">'reveal'</span>, <span class="string">'open'</span>, <span class="string">'http://some-url'</span>);

<span class="comment">// url with extra parameters</span>
$(<span class="string">'#myModal'</span>).foundation(<span class="string">'reveal'</span>, <span class="string">'open'</span>, {
    url: <span class="string">'http://some-url'</span>,
    data: {param1: <span class="string">'value1'</span>, param2: <span class="string">'value2'</span>}
});

<span class="comment">// url with custom callbacks</span>
$(<span class="string">'#myModal'</span>).foundation(<span class="string">'reveal'</span>, <span class="string">'open'</span>, {
    url: <span class="string">'http://some-url'</span>,
    success: <span class="keyword">function</span>(data) {
        alert(<span class="string">'modal data loaded'</span>);
    },
    error: <span class="keyword">function</span>() {
        alert(<span class="string">'failed loading modal'</span>);
    }
});</div></code></pre>


<p>Please refer to <a href="http://api.jquery.com/jQuery.ajax/"><a href="http://api.jquery.com/jQuery.ajax/">http://api.jquery.com/jQuery.ajax/</a></a> for a complete list of possible parameters.</p>

<hr>
<h3 id="event-bindings">Event Bindings</h3>
<p>There are a series of events that you can bind to for triggering callbacks:</p>
<div class="panel">
  <p><strong>Deprecation Notice</strong></p>
  <p>Previous versions of the reveal plugin emitted un-namespaced <code>open</code>, <code>opened</code>, <code>close</code> and <code>closed</code> events, however, these have been replaced by the namespaced <code>open.fndtn.reveal</code>, <code>opened.fndtn.reveal</code>, <code>close.fndtn.reveal</code> and <code>closed.fndtn.reveal</code> events. The un-namespaced events will be fully deprecated when Foundation 5.4 is released.</p>
</div>

<pre><code class="language-js"><div class="code-container">$(document).on(<span class="string">'open.fndtn.reveal'</span>, <span class="string">'[data-reveal]'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
  <span class="keyword">var</span> modal = $(<span class="keyword">this</span>);
});

$(document).on(<span class="string">'opened.fndtn.reveal'</span>, <span class="string">'[data-reveal]'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
  <span class="keyword">var</span> modal = $(<span class="keyword">this</span>);
});

$(document).on(<span class="string">'close.fndtn.reveal'</span>, <span class="string">'[data-reveal]'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
  <span class="keyword">var</span> modal = $(<span class="keyword">this</span>);
});

$(document).on(<span class="string">'closed.fndtn.reveal'</span>, <span class="string">'[data-reveal]'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
  <span class="keyword">var</span> modal = $(<span class="keyword">this</span>);
});</div></code></pre>
<hr>
<h2>Customize with Sass</h2>

<p>Reveal modals can be easily customized using our Sass variables.</p>

<h4>SCSS</h4>

<pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-reveal-classes<span class="value">: $include-html-classes;</span>

<span class="comment">/* We use these to control the style of the reveal overlay. */</span>
$reveal-overlay-bg<span class="value">: rgba(<span class="hexcolor">#000</span>, .<span class="number">45</span>);</span>
$reveal-overlay-bg-old<span class="value">: <span class="hexcolor">#000</span>;</span>

<span class="comment">/* We use these to control the style of the modal itself. */</span>
$reveal-modal-bg<span class="value">: <span class="hexcolor">#fff</span>;</span>
$reveal-<span class="attribute">position</span>-<span class="attribute">top</span><span class="value">: <span class="number">50</span>px;</span>
$reveal-<span class="value">default</span>-<span class="attribute">width</span><span class="value">: <span class="number">80</span>%;</span>
$reveal-modal-<span class="attribute">padding</span><span class="value">: rem-calc(<span class="number">20</span>);</span>
$reveal-<span class="attribute">box-shadow</span><span class="value">: <span class="number">0</span> <span class="number">0</span> <span class="number">10</span>px rgba(<span class="hexcolor">#000</span>,.<span class="number">4</span>);</span>

<span class="comment">/* We use these to style the reveal close button */</span>
$reveal-close-<span class="attribute">font-size</span><span class="value">: rem-calc(<span class="number">22</span>);</span>
$reveal-close-<span class="attribute">top</span><span class="value">: rem-calc(<span class="number">8</span>);</span>
$reveal-close-side<span class="value">: rem-calc(<span class="number">11</span>);</span>
$reveal-close-<span class="attribute">color</span><span class="value">: <span class="hexcolor">#aaa</span>;</span>
$reveal-close-weight<span class="value">: bold;</span>

<span class="comment">/* We use these to control the modal border */</span>
$reveal-<span class="attribute">border-style</span><span class="value">: solid;</span>
$reveal-<span class="attribute">border-width</span><span class="value">: <span class="number">1</span>px;</span>
$reveal-<span class="attribute">border-color</span><span class="value">: <span class="hexcolor">#666</span>;</span>

$reveal-modal-class<span class="value">: <span class="string">"reveal-modal"</span>;</span>
$close-reveal-modal-class<span class="value">: <span class="string">"close-reveal-modal"</span>;</span></div></code></pre>


<hr />

<h2>Semantic Markup With Sass</h2>

<p>You can create your own reveal modals using our Sass mixins.</p>

<h3>Setting the background</h3>

<p>You can use the <code>reveal-bg()</code> mixin to create your own reveal modal, like so:</p>

<pre><code class="language-scss"><div class="code-container"><span class="class">.custom-reveal-class</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> reveal-bg</span>();</span>
}</div></code></pre>


<h3>Creating the base structure</h3>

<p>You can use this mixin to create the structure of a reveal modal</p>

<pre><code class="language-scss"><div class="code-container"><span class="class">.custom-reveal-class</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> reveal-modal-base</span>(
    //<span class="preprocessor"> Provides</span><span class="preprocessor"> reveal</span><span class="preprocessor"> base</span><span class="preprocessor"> styles</span>,<span class="preprocessor"> can</span><span class="preprocessor"> be</span><span class="preprocessor"> set</span><span class="preprocessor"> to</span><span class="preprocessor"> false</span><span class="preprocessor"> to</span><span class="preprocessor"> override.</span>
    $base-style:true,
    //<span class="preprocessor"> Sets</span><span class="preprocessor"> reveal</span><span class="preprocessor"> width</span><span class="preprocessor"> Default</span>: $reveal-default-width<span class="preprocessor"> or</span><span class="preprocessor"> 80</span>%
    $width:$reveal-default-width
  );</span>
}</div></code></pre>


<h3>Set Reveal Base Styles</h3>

<p>You can use this mixin to style the reveal modal defaults</p>

<pre><code class="language-scss"><div class="code-container"><span class="class">.custom-reveal-class</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> reveal-modal-style</span>(
    //<span class="preprocessor"> Sets</span><span class="preprocessor"> background</span><span class="preprocessor"> color</span><span class="preprocessor"> of</span><span class="preprocessor"> reveal</span><span class="preprocessor"> modal.</span><span class="preprocessor"> Default</span>: $reveal-modal-bg<span class="preprocessor"> or</span> <span class="hexcolor">#fff</span>
    $bg:$reveal-modal-bg,
    //<span class="preprocessor"> Set</span><span class="preprocessor"> reveal</span><span class="preprocessor"> border</span><span class="preprocessor"> style.</span><span class="preprocessor"> Default</span>: $reveal-border-style<span class="preprocessor"> or</span><span class="preprocessor"> solid</span>
    $border:true,
    //<span class="preprocessor"> Width</span><span class="preprocessor"> of</span><span class="preprocessor"> border</span> (i.e.<span class="preprocessor"> 1px</span>).<span class="preprocessor"> Default</span>: $reveal-border-width.
    $border-style:$reveal-border-style,
    //<span class="preprocessor"> Color</span><span class="preprocessor"> of</span><span class="preprocessor"> border.</span><span class="preprocessor"> Default</span>: $reveal-border-color.
    $border-width:$reveal-border-width,
    //<span class="preprocessor"> Color</span><span class="preprocessor"> of</span><span class="preprocessor"> border.</span><span class="preprocessor"> Default</span>: $reveal-border-color.
    $border-color:$reveal-border-color,
    //<span class="preprocessor"> Choose</span><span class="preprocessor"> whether</span><span class="preprocessor"> or</span><span class="preprocessor"> not</span><span class="preprocessor"> to</span><span class="preprocessor"> include</span><span class="preprocessor"> the</span><span class="preprocessor"> default</span><span class="preprocessor"> box-shadow.</span><span class="preprocessor"> Default</span>:<span class="preprocessor"> true</span>,<span class="preprocessor"> Options</span>:<span class="preprocessor"> false</span>
    $box-shadow:true,
    //<span class="preprocessor"> Default</span>: $reveal-position-top<span class="preprocessor"> or</span><span class="preprocessor"> 50px</span>
    $top-offset:$reveal-position-top
  );</span>
}</div></code></pre>



<h3>Add a close button</h3>

<p>You can use this mixin to create a close button for the reveal modal</p>

<pre><code class="language-scss"><div class="code-container"><span class="class">.custom-reveal-class</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> reveal-close</span>(
    $color:$reveal-close-color
  );</span>
}</div></code></pre>


<p><strong>Note:</strong> <code>rem-calc();</code> is a function we wrote to convert <code>px</code> to <code>rem</code>. It is included in <strong>_variables.scss</strong>.</p>
<hr>
<h2>Using the Javascript</h2>

<div class="panel">
  Before you can use Reveal you&#39;ll want to verify that jQuery and <code>foundation.min.js</code> are available on your page. You can refer to the <a href="../javascript.html">Javascript documentation</a> on setting that up.
</div>

<p>If you are not using foundation.min.js and individually adding plugins, include <code>foundation.reveal.js</code> AFTER the <code>foundation.js</code> file. Your markup should look something like this:</p>

<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">body</span>&gt;</span>

  ...

  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/vendor/jquery.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/foundation/foundation.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="tag">&lt;<span class="title">script</span> <span class="attribute">src</span>=<span class="value">"js/foundation/foundation.reveal.js"</span>&gt;</span><span class="javascript"></span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>
  <span class="comment">&lt;!-- Other JS plugins can be included here --&gt;</span>

  <span class="tag">&lt;<span class="title">script</span>&gt;</span><span class="javascript">
    $(document).foundation();
  </span><span class="tag">&lt;/<span class="title">script</span>&gt;</span>

<span class="tag">&lt;/<span class="title">body</span>&gt;</span></div></code></pre>


<p>Required Foundation Library: <code>foundation.reveal.js</code></p>

<h5>Optional Javascript Configuration</h5>

<p>Reveal options can only be passed in during initialization at this time. However, you can bind to the <i>open</i>, <i>opened</i>, <i>close</i>, and <i>closed</i> events.</p>

<pre><code class="language-javascript"><div class="code-container">{
  animation: <span class="string">'fadeAndPop'</span>,
  animation_speed: <span class="number">250</span>,
  close_on_background_click: <span class="literal">true</span>,
  dismiss_modal_class: <span class="string">'close-reveal-modal'</span>,
  bg_class: <span class="string">'reveal-modal-bg'</span>,
  root_element: <span class="string">'body'</span>,
  bg : $(<span class="string">'.reveal-modal-bg'</span>),
  css : {
    open : {
      <span class="string">'opacity'</span>: <span class="number">0</span>,
      <span class="string">'visibility'</span>: <span class="string">'visible'</span>,
      <span class="string">'display'</span> : <span class="string">'block'</span>
    },
    close : {
      <span class="string">'opacity'</span>: <span class="number">1</span>,
      <span class="string">'visibility'</span>: <span class="string">'hidden'</span>,
      <span class="string">'display'</span>: <span class="string">'none'</span>
    }
  }
}</div></code></pre>



<hr />

<h5>Sass Errors?</h5>

<p>If the default &quot;foundation&quot; import was commented out, then make sure you import this file:</p>

<h4>SCSS</h4>

<pre><code class="language-scss"><div class="code-container"><span class="at_rule">@<span class="keyword">import</span> <span class="string">"foundation/components/reveal"</span>;</span></div></code></pre>



            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
