<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Switches | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="switches">Switches</h1>
              <h3 class="subheader">Switches are toggle element that switch between an Off and On state on tap or click. They make use of checkbox inputs (or radio buttons) and require no javascript.</h3>

<hr>
<h3>Basic</h3>

<p>You can create a switch using minimal markup.</p>
<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;switch&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">&quot;exampleCheckboxSwitch&quot;</span> <span class="attribute">type</span>=<span class="value">&quot;checkbox&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">&quot;exampleCheckboxSwitch&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span> 

<span class="comment">&lt;!-- Using radio buttons – each switch turns off the other two --&gt;</span>
<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;switch small&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">&quot;exampleRadioSwitch1&quot;</span> <span class="attribute">type</span>=<span class="value">&quot;radio&quot;</span> <span class="attribute">checked</span> <span class="attribute">name</span>=<span class="value">&quot;testGroup&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">&quot;exampleRadioSwitch1&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span> 

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;switch radius&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">&quot;exampleRadioSwitch2&quot;</span> <span class="attribute">type</span>=<span class="value">&quot;radio&quot;</span> <span class="attribute">name</span>=<span class="value">&quot;testGroup&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">&quot;exampleRadioSwitch2&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span> 

<span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">&quot;switch round large&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">&quot;exampleRadioSwitch3&quot;</span> <span class="attribute">type</span>=<span class="value">&quot;radio&quot;</span> <span class="attribute">name</span>=<span class="value">&quot;testGroup&quot;</span>&gt;</span>
  <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">&quot;exampleRadioSwitch3&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>

  </div>
  <div class="large-6 columns">
    <h4>Rendered Checkbox HTML</h4>
<div class="switch">
  <input id="exampleCheckboxSwitch" type="checkbox">
  <label for="exampleCheckboxSwitch"></label>
</div> 

<h4>Rendered Radio HTML</h4>

<div class="switch small">
  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
  <label for="exampleRadioSwitch1"></label>
</div> 

<div class="switch radius">
  <input id="exampleRadioSwitch2" type="radio" name="testGroup">
  <label for="exampleRadioSwitch2"></label>
</div> 

<div class="switch round large">
  <input id="exampleRadioSwitch3" type="radio" name="testGroup">
  <label for="exampleRadioSwitch3"></label>
</div>
  </div>
</div>

<p>The class options:</p>
<ul>
<li><code>radius</code>: Add this to the the switch container to get a 3px radius paddle and edges</li>
<li><code>round</code>: Add this to the the switch container to get a round paddle and edges</li>
<li><code>tiny</code>: Set the height and text of the switch to tiny</li>
<li><code>small</code>: Set the height and text of the switch to small</li>
<li><code>large</code>: Set the height and text of the switch to large</li>
</ul>
<hr>
<h2 id="customize-with-sass">Customize with Sass</h2>
<p>Switches can be easily customized using our Sass variables.</p>
<h4>SCSS</h4>

<pre><code class="language-scss"><div class="code-container">$include-<span class="tag">html</span>-<span class="tag">form</span>-classes<span class="value">: $include-html-classes !default;</span>

<span class="comment">// Controlling background color for the switch container</span>
$switch-bg<span class="value">: <span class="hexcolor">#ddd</span> !default;</span>

<span class="comment">// We use these to control the switch heights for our default classes</span>
$switch-<span class="attribute">height</span>-tny<span class="value">: <span class="number">1.5</span>rem !default;</span>
$switch-<span class="attribute">height</span>-sml<span class="value">: <span class="number">1.75</span>rem !default;</span>
$switch-<span class="attribute">height</span>-med<span class="value">: <span class="number">2</span>rem !default;</span>
$switch-<span class="attribute">height</span>-lrg<span class="value">: <span class="number">2.5</span>rem !default;</span>
$switch-<span class="attribute">bottom</span>-<span class="attribute">margin</span><span class="value">: <span class="number">1.5</span>rem !default;</span>

<span class="comment">// We use these to style the switch-paddle</span>
$switch-paddle-bg<span class="value">: <span class="hexcolor">#fff</span> !default;</span>
$switch-paddle-<span class="attribute">transition</span>-speed<span class="value">: .<span class="number">15</span>s !default;</span>
$switch-paddle-<span class="attribute">transition</span>-ease<span class="value">: ease-out !default;</span>
$switch-active-<span class="attribute">color</span><span class="value">: $primary-color;</span></div></code></pre>


<p>The markup is very simple; you need a class on the container for the switch, and then an input and a label. You can use checkboxes or radio buttons &mdash; for radiu buttons remember that they can only be turned off by another radio button (one must be on).</p>
<pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">div</span> <span class="attribute">class</span>=<span class="value">"switch"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"switchName"</span> <span class="attribute">type</span>=<span class="value">"checkbox"</span>&gt;</span>
  <span class="tag">&lt;<span class="title">label</span> <span class="attribute">for</span>=<span class="value">"switchName"</span>&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></code></pre>


<h5 id="quick-mixin">Quick Mixin</h5>
<p>You can build your switches using our global mixin by including it on your custom class or ID in your own stylesheet. The mixin contains options for changing the key styles, the rest of the defaults can be modified using the available variables. The global mixin looks like this:</p>
<pre><code class="language-scss"><div class="code-container"><span class="comment">/* Using the default styles */</span>
<span class="class">.your-class-name</span> { <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch</span>;</span> }</div></code></pre>


<div class="switch">
  <input id="mixinSwitch" type="checkbox">
  <label for="mixinSwitch"></label>
</div>

<p>There are <strong>seven options</strong> you can customize on the fly when writing this mixin. These control things like radius, transition speed, and size.</p>
<pre><code class="language-scss"><div class="code-container"><span class="comment">/* Using the available options */</span>
<span class="class">.your-class-name</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch</span>($transition-speed, $transition-ease, $height, $paddle-bg, $active-color, $radius, $base-style);</span>
}

<span class="comment">/* This sets the speed at which the switch toggles */</span>
$<span class="attribute">transition</span>-speed<span class="value">: $switch-paddle-transition-speed;</span>

<span class="comment">/* This sets the ease of the switch transition */</span>
$<span class="attribute">transition</span>-ease<span class="value">: $switch-paddle-transition-ease;</span>

<span class="comment">/* This controls the overall height of the switch */</span>
$<span class="attribute">height</span><span class="value">: $switch-height-med;</span>

<span class="comment">/* This controls the background of the paddle */</span>
$paddle-bg<span class="value">: $switch-paddle-bg;</span>

<span class="comment">/* Set the background color for the switch when it's on */</span>
$active-<span class="attribute">color</span><span class="value">: $switch-active-color;</span>

<span class="comment">/* Set this to true for default radius or any number for complete control */</span>
$radius<span class="value">: false;</span>

<span class="comment">/* If you set this to false, base styles are left out */</span>
$<span class="tag">base</span>-<span class="tag">style</span><span class="value">: true;</span></div></code></pre>


<hr>
<h2 id="semantic-markup-with-sass">Semantic Markup With Sass</h2>
<p>You can create your own switches using our Sass mixins. You have access to a few internal mixins that can create parts of the switch as needed. The base mixin will create a switch base that only includes structural styles.</p>
<pre><code class="language-scss"><div class="code-container"><span class="class">.your-class-name</span> { <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-base</span>($transition-speed, $transition-ease);</span> }</div></code></pre>


<h5 id="size-mixin">Size Mixin</h5>
<p>The size mixin will let you control the size of the switch.</p>
<pre><code class="language-scss"><div class="code-container"><span class="class">.your-class-name</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-base</span>($transition-speed, $transition-ease);</span>
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-size</span>($height);</span>
}</div></code></pre>


<h5 id="style-mixin">Style Mixin</h5>
<p>The last internal mixin you have access to for switches is the style mixin. This will help you style paddle color, active color and radius.</p>
<pre><code class="language-scss"><div class="code-container"><span class="class">.your-class-name</span> {
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-base</span>($transition-speed, $transition-ease);</span>
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-size</span>($height);</span>
  <span class="at_rule">@<span class="keyword">include</span><span class="preprocessor"> switch-style</span>($paddle-bg, $active-color, $radius, $base-style);</span>
}</div></code></pre>


<hr>
<h5 id="sass-errors-">Sass Errors?</h5>
<p>If the default &quot;foundation&quot; import was commented out, then make sure you import this file:</p>
<h4>SCSS</h4>

<pre><code class="language-scss"><div class="code-container"><span class="at_rule">@<span class="keyword">import</span> <span class="string">"foundation/components/switches"</span>;</span></div></code></pre>



            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
