<!doctype html>
<!--[if lt IE 9]> <html class="no-js lt-ie10 lt-ie9" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Web Fonts | Zanui Pattern Library</title>

      <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
      <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
      <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#002337">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="msapplication-square70x70logo" content="/mstile-70x70.png">
      <meta name="msapplication-square150x150logo" content="/mstile-150x150.png">
      <meta name="msapplication-square310x310logo" content="/mstile-310x310.png">
      <meta name="msapplication-wide310x150logo" content="/mstile-310x150.png">

    <link href="../assets/css/docs.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet" />
    <script src="../assets/js/modernizr.js"></script>

      <!--[if lt IE 9]>
      <link rel="stylesheet" href="../assets/css/ie8.css">

      <script src="../assets/js/ie8-polyfill.js"></script>
      <![endif]-->

  </head>
  <body class="antialiased hide-extras">
    <div class="marketing off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

         <title>Zanui Pattern Library</title>


<!-- <nav class="tab-bar show-for-small">
  <a class="off-canvas-left-toggle menu-icon ">
    <span></span>
  </a>  
</nav> -->


<nav class="top-bar docs-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="http://zanui.com.au/">Zanui Pattern Library</a></h1>
    </li>
  </ul>

</nav>


        <section role="main" class="scroll-container">

          <div class="row">
            <div class="large-3 medium-4 columns">
              <div class="hide-for-small">
                <div class="sidebar">
  <h5>Documentation</h5>
  <form>
    <!--  <label>Search Documentation</label> -->
    <input tabindex="1" id="autocomplete" type="search" placeholder="Search Docs: e.g. forms">
  </form>

  <nav>
    <ul class="side-nav">

        <li class="divider"></li>
        <li class="heading">Colour</li>
        <li><a href="colour_palette.html" data-search="">Colour Palette</a></li>
        <li><a href="colourful_text.html" data-search="">Colourful Text</a></li>

        <li class="divider"></li>
        <li class="heading">Glyphs</li>
        <li><a href="web_fonts.html" data-search="">Web Fonts</a></li>

        <li class="divider"></li>
        <li class="heading">Buttons</li>
        <li><a href="buttons.html" data-search="">Buttons</a></li>
        <li><a href="button_groups.html" data-search="Button Bar">Button Groups</a></li>
        <li><a href="dropdown_buttons.html" data-search="">Dropdown Buttons <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Typography</li>
        <li><a href="typography.html" data-search="Typography,Type-setting,Composition">Type</a></li>
        <li><a href="inline_lists.html" data-search="Lists">Inline Lists</a></li>
        <li><a href="labels.html" data-search="Tags">Labels</a></li>
        <li><a href="keystrokes.html" data-search="">Keystrokes</a></li>

        <li class="divider"></li>
        <li class="heading">Forms</li>
        <li><a href="forms.html" data-search="">Forms</a></li>

        <li class="divider"></li>
        <li class="heading">Content</li>
        <li><a href="dropdown.html" data-search="">Dropdowns <span class="label">JS</span></a></li>
        <li><a href="progress_bars.html" data-search="">Progress Bars</a></li>
        <li><a href="tables.html" data-search="">Tables</a></li>
        <li><a href="accordion.html" data-search="">Accordion <span class="label">JS</span></a></li>
        <li><a href="tabs.html" data-search="">Tabs <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Navigation</li>
        <li><a href="offcanvas.html" data-search="Off Canvas">Offcanvas <span class="label">JS</span></a></li>
        <li><a href="topbar.html" data-search="Nav Bar,Navigation,Sticky">Top Bar <span class="label">JS</span></a></li>
        <li><a href="sidenav.html" data-search="">Side Nav</a></li>
        <li><a href="magellan.html" data-search="Scrollspy">Magellan Sticky Nav <span class="label">JS</span></a></li>
        <li><a href="subnav.html" data-search="">Sub Nav</a></li>
        <li><a href="breadcrumbs.html" data-search="Navigation Path,Cookie Crumb">Breadcrumbs</a></li>
        <li><a href="pagination.html" data-search="">Pagination</a></li>

        <li class="divider"></li>
        <li class="heading">Callouts &amp; Prompts</li>
        <li><a href="alert_boxes.html" data-search="Error,Success,Warning">Alerts <span class="label">JS</span></a></li>
        <li><a href="panels.html" data-search="Wells">Panels</a></li>
        <li><a href="tooltips.html" data-search="Popover">Tooltips <span class="label">JS</span></a></li>

        <li class="divider"></li>
        <li class="heading">Structure</li>
        <li><a href="grid.html" data-search="">Grid</a></li>
        <li><a href="block_grid.html" data-search="">Block Grid</a></li>
        <li><a href="visibility.html" data-search="">Visibility</a></li>
        <li><a href="../media-queries.html" data-search="Breakpoints">Media Queries</a></li>
        <li><a href="../utility-classes.html" data-search="">Utility Classes</a></li>
        <li><a href="../javascript-utilities.html" data-search="">Javascript Utilities</a></li>

    </ul>
  </nav>

</div>

              </div>
            </div>
            <div class="large-9 medium-8 columns">
              <h1 id="web-fonts">Web Fonts</h1>
              <h3 class="subheader">Web Fonts are useful inline styles. They can give you scalable vector icons that can instantly be customized — size, color, drop shadow, and anything that can be done with the power of CSS.</h3>

<hr>
<div class="row webfont-row">
    <div class="medium-6 large-4 columns"><span class="z-icon-announce"></span>z-icon-announce</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-arrow-bottom"></span>z-icon-arrow-bottom</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-arrow-left"></span>z-icon-arrow-left</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-arrow-right"></span>z-icon-arrow-right</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-arrow-top"></span>z-icon-arrow-top</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-assembly"></span>z-icon-assembly</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-blog"></span>z-icon-blog</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-book"></span>z-icon-book</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-calendar"></span>z-icon-calendar</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-cancelled"></span>z-icon-cancelled</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-cart"></span>z-icon-cart</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-chevron-down"></span>z-icon-chevron-down</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-chevron-left"></span>z-icon-chevron-left</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-chevron-right"></span>z-icon-chevron-right</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-chevron-up"></span>z-icon-chevron-up</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-clock"></span>z-icon-clock</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-colours"></span>z-icon-colours</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-cross-cancel"></span>z-icon-cross-cancel</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-download"></span>z-icon-download</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-edit"></span>z-icon-edit</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-email"></span>z-icon-email</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-facebook"></span>z-icon-facebook</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-flat-pack"></span>z-icon-flat-pack</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-geo"></span>z-icon-geo</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-grid"></span>z-icon-grid</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-help"></span>z-icon-help</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-hourglass"></span>z-icon-hourglass</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-instagram"></span>z-icon-instagram</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-invoice"></span>z-icon-invoice</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-link"></span>z-icon-link</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-list"></span>z-icon-list</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-lock"></span>z-icon-lock</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-notification"></span>z-icon-notification</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-parcel"></span>z-icon-parcel</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-password-key"></span>z-icon-password-key</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-phone"></span>z-icon-phone</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-pinterest"></span>z-icon-pinterest</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-price-tag"></span>z-icon-price-tag</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-printer"></span>z-icon-printer</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-quick-view"></span>z-icon-quick-view</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-recommend-down-arrow"></span>z-icon-recommend-down-arrow</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-recommend-left-arrow"></span>z-icon-recommend-left-arrow</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-recommend-right-arrow"></span>z-icon-recommend-right-arrow</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-recommend-up-arrow"></span>z-icon-recommend-up-arrow</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-resize"></span>z-icon-resize</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-returns"></span>z-icon-returns</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-ruler"></span>z-icon-ruler</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-search"></span>z-icon-search</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-share"></span>z-icon-share</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-star"></span>z-icon-star</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-tick"></span>z-icon-tick</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-tree"></span>z-icon-tree</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-truck"></span>z-icon-truck</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-twitter"></span>z-icon-twitter</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-user"></span>z-icon-user</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-video"></span>z-icon-video</div>
    <div class="medium-6 large-4 columns"><span class="z-icon-warn"></span>z-icon-warn</div>
    <div class="medium-6 large-4 columns end"><span class="z-icon-wishlist"></span>z-icon-wishlist</div>
</div>


<hr>
<h2>Basic Icons</h2>

<p>You can create a icon using minimal markup.</p>
<div class="row">
  <div class="large-6 columns">
    <h4>HTML</h4>
    <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-user&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


  </div>
  <div class="large-6 columns">
    <h4>Rendered HTML</h4>
      <div class="row webfont-row">
    <div class="large-12 columns"><span class="z-icon-user"></span></div>
</div>

<p>  </div>
</div></p>
<hr>
<h2>Prefix &amp; Postfix Icons</h2>

<p>You can create a prefix or postfix icon using minimal markup.</p>
<div class="row">
    <div class="large-6 columns">
        <h4>HTML</h4>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-tree prefix-icon&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-tree postfix-icon&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


<div class="panel callout radius">
    <h5><span class="z-icon-warn prefix-icon"></span>Do not include extra space for them in HTML</h5>
</div>
<span></span>

    </div>
    <div class="large-6 columns">
        <h4>Rendered HTML</h4>
        <div class="row webfont-row">
    <div class="large-12 columns">
        <span class="z-icon-tree prefix-icon"></span>This is text with prefix icon
    </div>
    <div class="large-12 columns">
        This is text with postfix icon<span class="z-icon-tree postfix-icon"></span>
    </div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2>Colourful Icons</h2>

<p>You can create a colourful icon using minimal markup.</p>
<div class="row">
    <div class="large-6 columns">
        <h4>HTML</h4>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-colours txt-blue&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-colours txt-green&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-colours txt-yellow&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-colours txt-light-blue&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-colours txt-red&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


<div class="callout panel radius">Check out here for more colours:  <a href="colourful_text.html">colourful text</a></div>
<span></span>

    </div>
    <div class="large-6 columns">
        <h4>Rendered HTML</h4>
        <div class="row webfont-row">
    <div class="large-12 columns">
        <span class="z-icon-colours txt-blue"></span>
        <span class="z-icon-colours txt-green"></span>
        <span class="z-icon-colours txt-yellow"></span>
        <span class="z-icon-colours txt-light-blue"></span>
        <span class="z-icon-colours txt-red"></span>
    </div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2>Scale Icons</h2>

<p>You can create a scaled icon using minimal markup.</p>
<div class="row">
    <div class="large-6 columns">
        <h4>HTML</h4>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize small&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize large&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize x2&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize x3&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-resize x4&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


    </div>
    <div class="large-6 columns">
        <h4>Rendered HTML</h4>
        <div class="row webfont-row">
    <div class="large-12 columns"><span class="z-icon-resize small"></span>small icon</div>
    <div class="large-12 columns"><span class="z-icon-resize"></span>regular icon</div>
    <div class="large-12 columns"><span class="z-icon-resize large"></span>large icon</div>
    <div class="large-12 columns"><span class="z-icon-resize x2"></span>x2 icon</div>
    <div class="large-12 columns"><span class="z-icon-resize x3"></span>x3 icon</div>
    <div class="large-12 columns"><span class="z-icon-resize x4"></span>x4 icon</div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2>Spinning Icons</h2>

<p>You can create a spinning icon using minimal markup.</p>
<div class="row">
    <div class="large-6 columns">
        <h4>HTML</h4>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-star spinning&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-returns spinning&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-cross-cancel spinning&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-help spinning&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


<div class="panel callout radius">
    <h5><span class="z-icon-warn prefix-icon"></span>CSS3 animations aren&#39;t supported in IE9.</h5>
</div>
<span></span>

    </div>
    <div class="large-6 columns">
        <h4>Rendered HTML</h4>
        <div class="row webfont-row">
    <div class="large-12 columns">
        <span class="z-icon-star spinning"></span>
        <span class="z-icon-returns spinning"></span>
        <span class="z-icon-cross-cancel spinning"></span>
        <span class="z-icon-help spinning"></span>
    </div>
</div>
<span></span>

    </div>
</div>

<hr>
<h2>Rotated &amp; Flipped Icons</h2>

<p>You can create a rotated and flipped icon using minimal markup.</p>
<div class="row">
    <div class="large-6 columns">
        <h4>HTML</h4>
        <pre><code class="language-html"><div class="code-container"><span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit rotate-90&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit rotate-180&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit rotate-270&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit flip-horizontal&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span>
<span class="tag">&lt;<span class="title">span</span> <span class="attribute">class</span>=<span class="value">&quot;z-icon-edit flip-vertical&quot;</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span></div></code></pre>


    </div>
    <div class="large-6 columns">
        <h4>Rendered HTML</h4>
        <div class="row webfont-row">
    <div class="large-12 columns">
        <span class="z-icon-edit"></span>Regular
    </div>
    <div class="large-12 columns">
        <span class="z-icon-edit rotate-90"></span>Rotate 90° CW
    </div>
    <div class="large-12 columns">
        <span class="z-icon-edit rotate-180"></span>Rotate 180°
    </div>
    <div class="large-12 columns">
        <span class="z-icon-edit rotate-270"></span>Rotate 90° CCW
    </div>
    <div class="large-12 columns">
        <span class="z-icon-edit flip-horizontal"></span>Flip horizontal
    </div>
    <div class="large-12 columns">
        <span class="z-icon-edit flip-vertical"></span>Flip vertical
    </div>
</div>
<span></span>

    </div>
</div>

<hr>

            </div>
          </div>
        </section>

      </div>
    </div>

    <script src="../assets/js/templates.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/jquery-1.9.0.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="../assets/js/jquery-edge.js"></script>
    <!--<![endif]-->

    <script src="../assets/js/all.js"></script>

    <script>

    // Fix for foundation stylesheets being picked up as "null" or "not an object",
    // implementation from here: http://foundation.zurb.com/forum/posts/3189-foundation-5-orbit-slider-ie8-issue
    (function($) {
        if (!Foundation.stylesheet) {
            Foundation._style_element = $("<style></style>").appendTo("head")[0];
            Foundation.stylesheet = Foundation._style_element.styleSheet;
            if (Foundation.stylesheet) {
                Foundation.stylesheet.cssRules = {
                    length: 0
                };
                Foundation.stylesheet.insertRule = function(rule, index) {
                    var media, mediaMatch, mediaRegex, namespace, ruleMatch, ruleRegex;
                    mediaRegex = /^\s*@media\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    mediaMatch = mediaRegex.exec(rule);
                    media = "";
                    if (mediaMatch) {
                        media = "@media " + mediaMatch[1] + " ";
                        rule = mediaMatch[2];
                    }
                    ruleRegex = /^\s*(.*?)\s*\{\s*(.*?)\s*\}\s*$/;
                    ruleMatch = ruleRegex.exec(rule);
                    namespace = "" + media + ruleMatch[1];
                    rule = ruleMatch[2];
                    return this.addRule(namespace, rule);
                };
            } else if (window.console) {
                console.log("Could not fix Foundation css rules...");
            }
        }
    })(jQuery);

    // Safely initiate foundation now
      $(document).foundation();
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/REM-unit-polyfill.js"></script>
    <![endif]-->
  </body>
</html>
